<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/300d0fb85e.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <div class="container">
    <h1 class='text-center'>WIKINIMOUS</h1>
    <hr>
  </div>
    <%= yield %>
  </body>
</html>
